/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* social icons */
.social-icons {
  width: 20rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin-top: 3rem;
}
.social-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--clr-primary-5);
}
/* general underlines */
.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin-bottom: 0.5rem;
  text-align: center;
}
/* general images */

.photo-img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--radius);
}
.img-container {
  position: relative;
  display: block;
  height: 30rem;
  width: 20rem;
  border-radius: var(--radius);
}
@media screen and (min-width: 992px) {
  .img-container::before {
    content: '';
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-5);
    border-radius: var(--radius);
  }
}
/* section-title */
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
.section-title .underline {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
}
/* grey section background */
.grey-bg {
  background: var(--clr-grey-10);
}
/*
=============== 
Navbar
===============
*/
.nav {
  padding: 1rem;
  height: 5rem;
  display: grid;
  align-items: center;
}
.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-btn {
  justify-self: end;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  cursor: pointer;
}
.nav-links {
  display: none;
}
.logo-link {
  height: 2.5rem;
  place-content: center;
}
.navbar-fixed {
  position: fixed;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .nav {
    background: var(--clr-primary-10);
  }
  .navbar-fixed {
    background: var(--clr-white);
  }
  .nav-btn {
    display: none;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-self: end;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .nav-link {
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    font-weight: bold;
    color: #222;
    transition: var(--transition);
  }
  .nav-link:hover {
    color: var(--clr-primary-5);
  }
}
/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: var(--clr-grey-10);
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: translateX(-100%);
}
.show-sidebar {
  transform: translate(0);
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: transparent;
  font-size: 3rem;
  color: #bb2525;
  transition: var(--transition);
  cursor: pointer;
}
.close-btn:hover {
  color: #e66b6b;
}
.sidebar-links {
  text-align: center;
}
.sidebar-link {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-5);
  display: inline-block;
}

/*
=============== 
Hero
===============
*/
.hero {
  background: var(--clr-primary-10);
}
.hero-center {
  height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}
.banner-info .underline {
  margin-left: 0;
}
.banner-info a {
  margin-top: 1.25rem;
}
.banner-info h4 {
  color: var(--clr-grey-5);
}
.banner-img-container {
  display: none;
}
.banner-social-icons {
  justify-items: start;
}
@media screen and (min-width: 992px) {
  .hero-center {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .banner-img-container {
    display: block;
  }
  .banner-img-container::before {
    left: 2rem;
  }
}
/*
=============== 
About
===============
*/
.about-center {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 3rem 2rem;
}
.about-img-container {
  justify-self: center;
}
.about-title {
  text-align: left;
  margin-bottom: 2rem;
}
.about-info .underline {
  margin-left: 0;
}
@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 0;
  }
  .about-img-container::before {
    left: -2rem;
  }
}
/*
=============== 
Services
===============
*/
.service-card {
  background: var(--clr-white);
  text-align: center;
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
}
.service-title .underline {
  width: 3rem;
  height: 0.12rem;
  margin-bottom: 1.25rem;
  transition: var(--transition);
}
.service-title {
  margin-bottom: 0;
}
.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service-card:hover .underline {
  background: var(--clr-white);
}

.service-card:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}
.service-card p {
  transition: var(--transition);
}
.service-card:hover p {
  color: var(--clr-white);
}
@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*
=============== 
Projects
===============
*/
.project-title p {
  width: 85vw;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}
.project-title .underline {
  margin-bottom: 1.25rem;
}

.project {
  height: 15rem;
  margin-bottom: 2rem;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  position: relative;
  cursor: pointer;
}
.project::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--clr-white);
  border-radius: var(--radius);
  transition: var(--transition);
  opacity: 0;
}
.project:hover::after {
  opacity: 1;
  transform: scale(0.8);
}
.project-img {
    -webkit-transition: var(--transition);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--radius);
  transition: var(--transition);
}
.project:hover .project-img {
  opacity: 0.1;
}
.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--clr-white);
  transition: var(--transition);
  opacity: 0;
}
.project-info p {
  color: var(--clr-white);
  text-transform: capitalize;
  transition: var(--transition);
}
.project:hover .project-info {
  opacity: 1;
}
@media screen and (min-width: 676px) {
  .projects-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2rem;
     column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width:1170px) {
  .projects-center {
    grid-template-rows: 200px 200px;
    gap: 1rem;
    grid-template-areas: 
    "a b b"
    "a c d"
    ;
  }
  .project-1 {
    grid-area: a;
  }
  .project-2 {
    grid-area: b;
  }
  .project-3 {
    grid-area: c;
  }
  .project-4 {
    grid-area: d;
  }
  .project {
    height: 100%;
  }
  .project-img{
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*
=============== 
Connect
===============
*/
.connect {
  margin: 5rem 0;
  padding: 10rem 0 5rem 0;
  position: relative;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;

  -webkit-clip-path: polygon(
    50% 0%,
    100% 10%,
    100% 90%,
    50% 100%,
    0 90%,
    0 10%
  );
  clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
}
.video-title {
  margin-bottom: 2rem;
}
/* overlay over video */
.connect::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  opacity: 0.7;
  z-index: -1;
}
.connect {
  display: grid;
  place-items: center;
}
.video-banner {
  padding: 3rem 5rem 12rem 5rem;
  max-width: 40rem;
  background: var(--clr-primary-10);
  text-align: center;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}
/*
=============== 
Skills
===============
*/
.skills-section {
  background: var(--clr-primary-9);
}
.skill {
  margin-bottom: 1.25rem;
}
.skill h3 {
  color: var(--clr-primary-1);
  margin: 1.5rem 0;
}
.skill-container {
  height: 1rem;
  background: var(--clr-white);
  border-radius: var(--radius);
  position: relative;
}
.skill-info {
  margin-bottom: 1.25rem;
}
.skill-value {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
}
.skill-info p {
  margin-bottom: 0.5rem;
  color: var(--clr-primary-1);
  text-transform: capitalize;
}
.skill-text {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--clr-primary-1);
}
.skill-value-70 {
  width: 70%;
}
.skill-text-70 {
  left: 70%;
}
.skill-value-80 {
  width: 80%;
}
.skill-text-80 {
  left: 80%;
}
.skills-title {
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .skills-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .skill {
    margin-bottom: 0;
  }
}
/*
=============== 
Timeline
===============
*/
.timeline-center {
  width: 80vw;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
.timeline-item {
  padding: 4rem 2rem;
  border-top: 0.125rem dashed var(--clr-primary-5);
  position: relative;
}
.timeline-item:nth-child(even) {
  border-left: 0.125rem dashed var(--clr-primary-5);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 2rem;
  padding-right: 0;
}
.timeline-item:nth-child(odd) {
  border-right: 0.125rem dashed var(--clr-primary-5);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}
.timeline-item:first-child {
  border-top: none;
  border-top-right-radius: 0;
}
.timeline-item:last-child {
  border-bottom-left-radius: 0;
}
.timeline-number {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: var(--clr-primary-5);
  display: grid;
  place-items: center;
  border-radius: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}
.timeline-item:nth-child(even) .timeline-number {
  left: 0;
}
.timeline-item:nth-child(odd) .timeline-number {
  right: 0;
  transform: translate(50%, -50%);
}
.timeline-item p {
  margin-bottom: 0;
}

/*
=============== 
Blog
===============
*/
.blog-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20.625rem, 1fr));
  gap: 3rem 1rem;
}
.blog-card {
  height: 27rem;
  position: relative;
  border-radius: var(--radius);
  perspective: 1500px;
}
.card-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: var(--radius);
  /* manual prefixes for iphone rotation */
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
}
.card-front {
  background: var(--clr-white);
  transition: all 2s linear;
}
.blog-card:hover .card-front {
  transform: rotateY(-180deg);
}
.blog-card-info {
  padding: 1rem 1.5rem;
}

.card-front img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-card-footer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.blog-card-footer p {
  margin-bottom: 0;
  justify-self: end;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: var(--clr-primary-5);
}
.card-back {
  background: var(--clr-primary-10);
  display: grid;
  place-items: center;
  transform: rotateY(180deg);
  transition: all 2s linear;
}
.blog-card:hover .card-back {
  transform: rotateY(0);
}
.blog-card-footer img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

/*
=============== 
Footer
===============
*/
.footer-section {
  display: grid;
  place-items: center;
  padding-bottom: 2rem;
  background: #222;
}
.footer-section .social-icons {
  margin-bottom: 2rem;
}
.footer-section .social-icon {
  color: var(--clr-primary-5);
  font-size: 1.5rem;
}
.footer-section .social-icon:hover {
  color: var(--clr-primary-10);
}
.footer-section .footer-text {
  text-transform: capitalize;
  font-size: 1.25rem;
}

/*
=============== 
Single Page
===============
*/
/* about and contact pages */
.single-page {
  background: var(--clr-primary-10);
  min-height: calc(100vh - 5rem - 12.375rem);
}
.page-center a {
  text-transform: uppercase;
  color: var(--clr-primary-5);
}
.page-center p {
  max-width: 43.75rem;
  margin-left: auto;
  margin-right: auto;
}

/*
=============== 
Products Page
===============
*/
.project-hero {
  min-height: 40vh;
  background: var(--clr-primary-10);
  display: grid;
  place-items: center;
}
.project-card {
  background: var(--clr-grey-10);
  border-radius: var(--radius);
}
.project-card-img-container {
  min-height: 13rem;
  position: relative;
}
.project-card-img-container a {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 1.75rem;
  color: var(--clr-primary-1);
  background: var(--clr-primary-5);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 0.375rem solid var(--clr-grey-10);
}
.project-card-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.project-card-info {
  padding: 2rem 1.5rem;
}
.project-card-footer {
  color: var(--clr-primary-5);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.project-card-footer a {
  margin-bottom: 0;
  justify-self: end;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}
.project-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20.625rem, 1fr));
  gap: 3rem 1rem;
}
.project-hero-title {
  margin-bottom: 0;
}
